* {
    box-sizing: border-box;
}
.image {
    float: left;
}
.gallery {
    border: 1px solid rgb(177, 173, 173);
}
.gallery:hover {
    border: 1px solid black;
}
img {
    width: 100%;
}
p {
    text-align: center;
}

@media screen and (min-width:700px){
    .image {
        width: 25%;
        padding: 5px;
    }
}

@media screen and (max-width:700px){
    .image {
        width: 50%;
        padding: 5px;
    }
}

@media screen and (max-width:500px){
    .image {
        width: 100%;
        padding: 5px;
    }
}