.menu1 {
    list-style-type: none;
}
.menu1>li {
    display: inline;
    padding: 5px;
}
.menu1_first_child:hover .menu2{
    display: block;
}

.menu1_first_child {
    position: relative;
}
.menu2 {
    position: absolute;
    top: 20px;
    left: 10px;
    width: auto;
    width: max-content;
    list-style-type: none;
    display: none;
}
.menu3 {
    display: none;
    position: absolute;
    top: 24px;
    list-style-type: none;
    width: max-content;
}
.menu2_last_child {
    position: relative;
}
.menu2_last_child:hover .menu3 {
    display: block;
}


