form {
    background-color: rgb(238, 245, 179);
    border: 1px solid;
}

#style {
    border: 1px solid;
}

input.name-phone:hover {
    background-color: yellow;
    border: 1px solid #43a9d8;
}

textarea, input {
    background-color: rgb(243, 22, 10);
    color: blue;;
}
